* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: hsl(212, 45%, 89%);
    position: relative;
}

main {
    background-color: white;
    position: absolute;
    padding: 20px;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main img {
    max-width: 260px;
}