@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: hsl(257, 40%, 49%);
    background-image: url(images/bg-desktop.svg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    min-height: 100vh;
    overflow-x: hidden;
}

.logo {
    padding-left: 2rem;
}

.logo img {
   width: 220px;
   padding-top: 3rem;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
}

.content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 5rem;
    padding-left: 2rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
}

.desc {
    display: flex;
    flex-direction: column;
    padding: 3rem;
    color: white;
}

.desc h1 {
    font-size: 3rem;
    line-height: 4rem;
    font-weight: 600;
    padding-bottom: 1.5rem;
}

.desc p {
    font-size: 1.3rem;
    font-family: 'Open Sans', sans-serif;
    padding-bottom: 2rem;
}

.b button {
    padding: 1rem;
    padding-left: 4rem;
    padding-right: 4rem;
    border-radius: 3rem;
    border: 0px;
    box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.514);
    color: hsl(257, 40%, 49%);
    font-size: 1.2rem;
    transition: background 0.3s;
}

.b button:hover {
    background-color: hsl(300, 69%, 71%);
    color: white;
    cursor: pointer;
}

.social {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 2rem;
    padding-bottom: 10rem;
    padding-right: 2rem;
}

.facebook i {
    text-align: center;
    width: 50px;
    color: white;
    font-size: 1.5rem;
    border: 2px solid white;
    border-radius: 50%;
    padding: 0.7rem;
}

.twitter i {
    color: white;
    font-size: 1.5rem;
    border: 2px solid white;
    border-radius: 50%;
    padding: 0.7rem;
}

.instagram i {
    color: white;
    font-size: 1.5rem;
    border: 2px solid white;
    border-radius: 50%;
    padding: 0.7rem;
}

i:hover {
    color: hsl(300, 69%, 71%);
    border: 2px solid hsl(300, 69%, 71%);
    cursor: pointer;
}

@media (max-width: 1100px) {
    .container {
        max-width: 768px;
    }

    .mockup img {
        max-width: 575px;
    }

    .content {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-left: 1rem;
        padding-right: 2rem;
    }

    .social {
        display: flex;
        justify-content: center;
        padding-bottom: 3rem;
    }
}

@media (max-width: 600px) {
    .mockup img {
        max-width: 350px;
    }
}