@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;700&family=Lato:wght@400;700&family=Lobster&family=Mukta:wght@300;400;600&family=Raleway:wght@300;400;700&family=Sora:wght@300;400;500;600&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Barlow Condensed', sans-serif;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 10%;
}

.nav-menu > div {
    display: flex;
    gap: 50px;
}

.nav-menu > div a {
    text-decoration: none;
    color: hsl(230, 29%, 20%);
    font-weight: bold;
}

.nav-menu > div a.login {
    color: hsl(231, 7%, 65%);
}

.main {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.main-escrito {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 10%;
    width: 50%;
}

.main-escrito h1 {
    font-weight: bold;
    font-size: 65px;
    color: hsl(230, 29%, 20%);
}

.column p {
    font-size: 20px;
    color: hsl(230, 11%, 40%);
    padding-top: 20px;
}

.indent {
    color: hsl(231, 7%, 65%);
    letter-spacing: 5px;
}

.row {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 15px;
}

.button {
    background-color: hsl(230, 29%, 20%);
    font-size: 14px;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 20px;
    color: white;
    letter-spacing: 1px;
}

.button-row {
    text-decoration: none;
    background-color: hsl(0, 100%, 68%);
    font-size: 16px;
    font-weight: bold;
    padding: 15px 30px;
    border-radius: 5px;
    color: white;
    letter-spacing: 1px;
}
